In [1]:
import csv
import pandas as pd 
import datetime 
import time 
import numpy as np
import matplotlib
import matplotlib.pylab as plt
from matplotlib import rcParams
from sklearn.cluster import MiniBatchKMeans, KMeans
import math
import pickle
import os
import networkx as nx
import pdb
import collections
from node2vec import Node2Vec
from networkx.algorithms import community as nxcomm

In [3]:
edges = pd.read_csv('../data/twitch_gamers/large_twitch_edges.csv', header=0)
edges.columns = ['source', 'target']

In [4]:
edges

         numeric_id_1  numeric_id_2
0               98343        141493
1               98343         58736
2               98343        140703
3               98343        151401
4               98343        157118
...               ...           ...
6797552         97507         29359
6797553         71175         12020
6797554        151702        128281
6797555        118034         38021
6797556         27819        153993

[6797557 rows x 2 columns]